// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    min-height: 100vh;
}
.admin-modal-bg {
    background-color: rgba(223, 223, 223, 0.960) !important;
}
.bg-none {
    background-color: rgba(0,0,0,.0000) !important;
    -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.room-bg {
    background-image: url('/images/room-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
.available_rooms_box {
    background-color: rgba(216, 216, 216, 0.904);
}
.personal_form_box {
    background-color: rgba(214, 214, 214, 0.74) !important;
    height: 400px;
}
.rezervace_form {
    select, input {
        width: 200px;
        height: 50px;
    }
}
[v-cloak] {
    display: none;
}