<template>
    <div class="modal-content admin-modal-bg rezervace_form">
        <div class="modal-header">
            <h5 class="mx-auto">Přidat nový pokoj</h5>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center">
                <div v-if="hasError('name')">
                    <p class="text-danger my-0 text-center">{{ getError('name') }}</p>
                </div>
                <div class="d-flex">
                    <p class="mx-auto my-2">Název pokoje</p>
                </div>
                <input type="text" name="name" v-model="adminForm.name" @keydown="clearError">

                <div class="d-flex">
                    <p class="mx-auto my-2">Číslo pokoje</p>
                </div>
                <input type="number" name="number" min="0" oninput="if(this.value < 1) {this.value = 1}" v-model="adminForm.number">    
            
                <div class="d-flex">
                    <p class="mx-auto my-2">Typ pokoje</p>
                </div>
                <select name="type" v-model="adminForm.type">
                    <option value="1 Lůžkový">1 Lůžkový</option>
                    <option value="2 Lůžkový">2 Lůžkový</option>
                    <option value="Apartmán">Apartmán</option>
                </select>
            </div>
            
        </div>
        <div class="modal-footer d-flex ml-auto">
            <button class="btn btn-secondary" @click="closeModal">Zavřít</button>
            <button class="btn btn-primary" @click="storeRoom">Přidat nový pokoj</button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            adminForm: {
                name: null,
                number: 1,
                type: '1 Lůžkový',
                active: true,
            },
            errors: {},
        };
    },
    methods: {
        //vytvoření pokoje
        storeRoom() {
            axios
                .post('/api/rooms', this.adminForm)
                .then((res) => {
                    if(res.data.error) {
                        toastr.error(res.data.error);
                    } else {
                        toastr.success(res.data.success);
                    }
                })
                .catch((error) => {
                    if(error.response.status == 422) {
                        //uložení errorů
                        this.errors = error.response.data.errors
                    }
                })
        },
        //zavřít modal
        closeModal() {
            this.$modal.toggle('roomModal')
        },
        //zjistit jestli je dostupný error,
        hasError(field) {
            return (field in this.errors)
        },
        //získat error
        getError(field) {
            return this.errors[field][0]
        },
        //smazat error
        clearError(e) {
            delete this.errors[e.target.name]
        }
    }
}
</script>