<template>
    <div class="room-bg pb-5" v-if="loading" v-cloak>
        <div class="container">
            <div class="d-flex justify-content-center" style="padding-top: 100px;">
                <h1 class="text-center">Rezervace pokoje</h1>
                <img src="/images/room-key.svg" style="width:40px; height:40px;">
            </div>
            <div v-if="permission">
                <div class="d-flex my-1">
                    <div class="mx-auto">
                        <button class="btn btn-success m-2" type="submit" v-if="permission" @click="toggleModal('roomModal')">Přidat nový pokoj</button>
                        <button class="btn btn-primary m-2" type="submit" v-if="permission" @click="toggleModal('showRoomsModal')">Zobrazit všechny pokoje</button>
                        <button class="btn btn-primary m-2" type="submit" v-if="permission" @click="toggleModal('showReservationsModal')">Zobrazit všechny rezervace</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex">
                <div class="mx-auto my-2">
                    <h5 class="text-center">Den příjezdu a odjezdu</h5>
                    <date-picker 
                        @change="checkAvailableRooms"
                        v-model="userForm.time"
                        value-type="DD/MM/YYYY"
                        format="DD/MM/YYYY"
                        range
                        :default-value="new Date()"
                        :disabled-date="beforeToday">
                    </date-picker>
                </div>
            </div>
            <div class="rezervace_form justify-content-center">
                <h5 class="text-center mt-2">Typ pokoje</h5>
                <select class="p-2 d-block mx-auto" v-model="userForm.room_type" @change="checkAvailableRooms">
                    <option value="1 Lůžkový">1 Lůžkový</option>
                    <option value="2 Lůžkový">2 Lůžkový</option>
                    <option value="Apartmán">Apartmán</option>
                </select>
            </div>
            <hr>
            <div class="d-flex" v-if="available">
                <button class="btn btn-success mx-auto" @click="toggleModal('showAvailableRoomsModal')">Zobrazit pokoje k dispozici</button>
            </div>
            <div class="justify-content-center row mt-4" v-if="checkedRoom">
                <div class="col-md-6 personal_form_box border border-dark p-3">
                    <h5 class="text-center">Osobní údaje</h5>
                    <div class="d-flex my-2">
                        <div class="mx-auto">
                            <div v-if="hasError('name')">
                                <p class="text-danger my-0">{{ getError('name') }}</p>
                            </div>
                            <p class="my-0">Jméno</p>
                            <input type="text" name="name" v-model="userForm.name" @keydown="clearError">
                        </div>
                    </div>
                    <div class="d-flex my-2">
                        <div class="mx-auto">
                            <div v-if="hasError('email')">
                                <p class="text-danger my-0">{{ getError('email') }}</p>
                            </div>
                            <p class="my-0">E-mail</p>
                            <input type="text" name="email" v-model="userForm.email" @keydown="clearError">
                        </div>
                    </div>
                    <div class="d-flex my-2">
                        <div class="mx-auto">
                            <div v-if="hasError('phone')">
                                <p class="text-danger my-0">{{ getError('phone') }}</p>
                            </div>
                            <p class="my-0">Telefonní číslo</p>
                            <input type="text" name="phone" v-model="userForm.phone" @keydown="clearError">
                        </div>
                    </div>
                    <div class="d-flex mt-5">
                        <button class="btn btn-primary mx-auto" @click="storeReservation">Odeslat rezervaci</button>
                    </div>
                </div>
            </div>
        </div>
        <modal name="roomModal" :adaptive="true" :resizable="true" :height="450" classes="bg-none" v-if="permission">
            <CreateRoomModal></CreateRoomModal>
        </modal>

        <modal name="showRoomsModal" :adaptive="true" :resizable="true" height="auto" :width="700" classes="bg-none"  v-if="permission">
            <ShowRoomModal></ShowRoomModal>
        </modal>
        <modal name="showReservationsModal" :adaptive="true" :resizable="true" height="auto" :width="800" classes="bg-none" v-if="permission">
            <ShowReservationsModal></ShowReservationsModal>
        </modal>

        <modal name="showAvailableRoomsModal" :adaptive="true" :resizable="true" height="auto" :width="700" classes="bg-none" v-if="available">
            <div class="modal-content admin-modal-bg rezervace_form modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-header">
                    <h5 class="mx-auto">Pokoje k dispozici:</h5>
                </div>
                <div class="modal-body">
                    <div v-if="nodata">
                        <p  class="text-center">Žádné pokoje v tomhle časovém rozmezí</p>
                    </div>
                    <table class="table mx-auto" v-else>
                        <thead>
                            <tr>
                                <th scope="col">Číslo pokoje</th>
                                <th scope="col">Název pokoje</th>
                                <th scope="col">Typ pokoje</th>
                                <th scope="col">Možnost</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr v-for="room in available_rooms" :key="room.id">
                                <th scope="row">{{ room.number }}</th>
                                <td>{{ room.name }}</td>
                                <td>{{ room.type }}</td>
                                <td>
                                    <button :class="(checkedRoom == room.id ? 'btn btn-success' : 'btn btn-outline-success')" 
                                            @click="checkedRoom = room.id">
                                            Vybrat pokoj
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer d-flex ml-auto">
                    <button class="btn btn-secondary" @click="toggleModal('showAvailableRoomsModal')">Zavřít</button>
                    <button class="btn btn-primary" @click="toggleModal('showAvailableRoomsModal')">Pokračovat</button>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
    //import všech modalů
    import CreateRoomModal from './CreateRoomModal'
    import ShowRoomModal from './ShowRoomsModal'
    import ShowReservationsModal from './ShowReservationsModal'
    //import balíčků
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import 'vue2-datepicker/locale/cs';

    export default {
        //definování komponentů
        components: { DatePicker, CreateRoomModal, ShowRoomModal, ShowReservationsModal },
        data() {
            return {
                adminForm: {
                    number: 1,
                    type: '1 Lůžkový',
                    active: true,
                },
                userForm: {
                    room_type: '1 Lůžkový',
                    time: null,
                    name: null,
                    email: null,
                    phone: null
                },
                rooms: {},
                available_rooms: {},
                checkedRoom: null,
                permission: false,
                loading: false,
                available: false,
                nodata: null,
                errors: {},
            };
        },
        mounted() {
            this.checkPermissions()
        },
        methods: {
            //zobrazit všechny pokoje pro adminy
            getRooms() {
                axios
                    .get('/api/rooms')
                    .then((res) => {
                        this.rooms = res.data
                    })
            },
            //vyhledat dostupné pokoje
            checkAvailableRooms() {
                //kontrola jestli je zadán čas a typ pokoje
                if(this.userForm.time && this.userForm.room_type) {
                    axios
                        .post('/api/rooms/search', {
                            time: this.userForm.time,
                            room: this.userForm.room_type
                        })
                        .then((res) => {
                            if(res.data.nodata) {
                                //pokud nejsou volné pokoje, zobrazit varovnou zprávu
                                this.nodata = res.data.nodata
                                this.available = true
                                this.available_rooms = {}
                            } else if(res.data.available) {
                                //pokud jsou volné pokoje, zobrazit je
                                this.available = true
                                this.available_rooms = res.data.data
                                this.nodata = null
                            } else {
                                //cokoliv jiného, nezobrazovat tlačítko na vybrání pokoje
                                this.available = false
                                this.checkedRoom = 0
                            }
                        })
                }
            },

            //kontrola oprávnění 
            checkPermissions() {
                axios
                    .post('/api/permissions')
                    .then((res) => {
                        this.loading = true
                        this.permission = res.data.data
                        if(this.permission) {
                            //pokud jsou dostupná práva, zobrazit všechny pokoje a jejich nastavení
                            this.getRooms()
                        }
                    })
            },

            //vytvořit rezervaci
            storeReservation() {
                axios
                    .post('/api/reservations', {
                        checkedRoom: this.checkedRoom,
                        name: this.userForm.name,
                        email: this.userForm.email,
                        phone: parseInt(this.userForm.phone),
                        start: this.userForm.time[0],
                        end: this.userForm.time[1]
                    })
                    .then((res) => {
                        toastr.success(res.data.success)
                        //znovu zkontrolovat volné pokoje
                        this.checkAvailableRooms
                        //vymazat předchozí údaje
                        this.available = false
                        this.checkedRoom = null
                    })
                    .catch((error) => {
                        if(error.response.status == 422) {
                            //uložení errorů
                            this.errors = error.response.data.errors
                        }
                    })
            },

            //odebrat pokoj
            destroyRoom(roomId) {
                axios
                    .delete('/api/rooms/' + roomId)
                    .then((res) => {
                        if(res.data.error) {
                            toastr.error(res.data.error);
                        } else {
                            toastr.success(res.data.success);
                            this.getRooms()
                        }
                    })
            },

            /* povolit ve výběru času, jen čas který je budoucí,
             aby uživatelé nemohli rezervovat pokoj do minulosti. */
            beforeToday(date) {
            const today = new Date()
            today.setHours(0, 0, 0, 0)

            return date < today
            },

            //zobrazit / zavřít modal
            toggleModal(name) {
                this.$modal.toggle(name)
            },

            //zjistit jestli je dostupný error,
            hasError(field) {
                return (field in this.errors)
            },
            //získat error
            getError(field) {
                return this.errors[field][0]
            },
            //smazat error
            clearError(e) {
                delete this.errors[e.target.name]
            }
        }
    }
</script>
