<template>
    <div class="modal-content admin-modal-bg rezervace_form modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-header">
            <h5 class="mx-auto">Všechny rezervace</h5>
        </div>
        <div class="modal-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Pokoj</th>
                        <th scope="col">Jméno</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Telefon</th>
                        <th scope="col">Začátek</th>
                        <th scope="col">Konec</th>
                        <th scope="col">Možnost</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="reservation in reservations" :key="reservation.id">
                        <th scope="row">{{ reservation.room }}</th>
                        <th>{{ reservation.name }}</th>
                        <td>{{ reservation.email }}</td>
                        <td>{{ reservation.phone }}</td>
                        <td>{{ reservation.start}}</td>
                        <td>{{ reservation.end }}</td>
                        <td><button class="btn btn-danger" @click="destroyReservation(reservation.id)">Smazat</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer d-flex ml-auto">
            <button class="btn btn-secondary" @click="closeModal">Zavřít</button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            reservations: {}
        }
    },
    mounted() {
        this.getReservations()
    },
    methods: {
        //zobrazit rezervace
        getReservations() {
            axios
                .get('/api/reservations')
                .then((res) => {
                    this.reservations = res.data
                })
        },

        //odebrat rezervaci
        destroyReservation(reservationId) {
            axios
                .delete('/api/reservations/' + reservationId)
                .then((res) => {
                    toastr.success(res.data.success)
                    this.getReservations()
                })
        },

        //zavřít modal
        closeModal() {
            this.$modal.toggle('showReservationsModal')
        }
    }
}
</script>