<template>
    <div class="modal-content admin-modal-bg rezervace_form modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-header">
            <h5 class="mx-auto">Všechny pokoje</h5>
        </div>
        <div class="modal-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Číslo pokoje</th>
                        <th scope="col">Název pokoje</th>
                        <th scope="col">Typ pokoje</th>
                        <th scope="col">Možnost</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="room in rooms" :key="room.id">
                        <th scope="row">{{ room.number }}</th>
                        <td>{{ room.name }}</td>
                        <td>{{ room.type }}</td>
                        <td><button class="btn btn-danger" @click="destroyRoom(room.id)">Smazat</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer d-flex ml-auto">
            <button class="btn btn-secondary" @click="closeModal">Zavřít</button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            rooms: {},
        }
    },
    mounted() {
        this.getRooms()
    },
    methods: {
        //zobrazit pokoje
        getRooms() {
            axios
                .get('/api/rooms')
                .then((res) => {
                    this.rooms = res.data
                })
        },

        //odebrat pokoj
        destroyRoom(roomId) {
            axios
                .delete('/api/rooms/' + roomId)
                .then((res) => {
                    if(res.data.error) {
                        toastr.error(res.data.error);
                    } else {
                        toastr.success(res.data.success);
                        this.getRooms()
                    }
                })
        },

        //zavřít modal
        closeModal() {
            this.$modal.toggle('showRoomsModal')
        }
    }
}
</script>